<div class="col-lg-8 grid-margin stretch-card">
<div class="card">
<div class="card-body">
<h4 class="card-title">Reclamações Avaliadas</h4>
<div class="table-responsive">
<table class="table  verticle-middle table-responsive-md">
<thead>
<tr>
  <th>Empresa</th>
  <th>Avaliação</th>
  <th>Data</th>
  <th>Status</th>
 </tr>
</thead>
<tbody>
  <% @avaliada.each do |q|%>
<tr>
  <td><%= q.empresa.nome%></td>
  <td><%= q.mensagem.truncate(24)%></td>
  <td><%= q.created_at.strftime("%Y-%m-%d %H:%M") %></td>
  <td><%if q.situacao_id == 1%>
      <div class="badge badge-outline-success">
        Resolvida
        </div>
        <%else%>
  <div class="badge badge-outline-danger">
          Não resolvida
        </div>
        <%end%>
  </td>
  <td>
    <%=link_to 'Ver', consumidor_queixa_path(current_user.id,q.id)%>
  </td>
</tr>
<%end%>
</tbody>
</table>
</div>
</div>
<%= will_paginate @avaliada%>
</div>
</div>
