<% @empresa.build_endereco %>
<% @empresa.build_contacto %>

<div class="content-wrapper">
  <div class="row ">
    <div class="col-6 grid-margin">
      <div class="card">
        <div class="card-body">
            <%= form_for @empresa,:url => {:action => :create}  do |f| %>

                <div class="form-group">
                <%= f.label :Nome%><br />
                <%= f.text_field :nome, autofocus: true, placeholder:  "Nome da empresa", class:'form-control form-control-sm' %>
                </div>


                <div class="form-group">
              <%= f.label :Numero_de_identificação_fiscal%><br />
              <%= f.text_field :nif, autofocus: true, placeholder: "NIF", class:'form-control form-control-sm' %>
            </div>


            <div class="form-group">
              <%= f.label :Ramo_de_atividade %>     <br />
              <%= f.collection_select :atividade_id, Atividade.order(:id), :id, :nome, include_blank: true, placeholder: "Ramo de atividade", class:'form-control form-control-sm' %> <br />
            </div>


            <div class="form-group">
            <%= f.label :Responsável_da_empresa%><br />
            <%= f.text_field :responsavel, autofocus: true, placeholder: "Responsável da empresa", class:'form-control form-control-sm' %>
            </div>


            <div class="form-group">
            <%= f.label :Email_da_empresa%><br />
            <%= f.text_field :email, autofocus: true, placeholder: "E-mail da empresa", class:'form-control form-control-sm' %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 grid-margin">
        <div class="card">
          <div class="card-body">

                <%= f.fields_for :endereco do |form| %>
                <div class="form-group">
                <%= form.label :Rua%><br />
                <%= form.text_field :rua, autofocus: true, placeholder: "Nome da rua", class:'form-control form-control-sm' %>
              </div>

                <div class="form-group">
                <%= form.label :Bairro%><br />
                <%= form.text_field :bairro, autofocus: true, placeholder:  "E-mail", class:'form-control form-control-sm'%>
              </div>

                <div class="form-group">
                <%= form.label :Numero_da_casa%><br />
                <%= form.text_field :numero, autofocus: true, placeholder:  "Número da casa", class:'form-control form-control-sm' %>
              </div>


                <div class="form-group">
                <%= form.label :Cidade_ou_Província%><br />
                <%= form.text_field :cidade, autofocus: true, placeholder:  "Cidade", class:'form-control form-control-sm'%>
              </div>
                <% end %>

                <%= f.fields_for :contacto do |form| %>
                <div class="form-group">

                <%= form.label :Tipo_de_contacto%><br />
                <%= form.text_field :tipo, autofocus: true, placeholder: "Tipo de contacto", class:'form-control form-control-sm' %>
              </div>

                <div class="form-group">
                <%= form.label :Valor%><br />
                <%= form.text_field :valor, autofocus: true, placeholder:  "Valor", class:'form-control form-control-sm' %>
                </div>
                <% end %>

          </div>
          </div>
        </div>
        <%=f.submit 'Criar', class:'btn badge-success'%>
          <% end %>
    </div>


  </div>
