<div class="content-wrapper">
<div class="row ">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Tabela de queixas</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>
                  <div class="form-check form-check-muted m-0">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input">
                    </label>
                  </div>
                </th>
                <th>Consomidor</th>
                <th>Titulo da queixa</th>
                <th>Empresa</th>
                <th>Assunto da queixa</th>
                <th> Data da queixa</th>
                <th> Sentimento </th>
                <th> Estado da queixa </th>
              </tr>
            </thead>
            <tbody>
              <% @queixas.each do |q|%>
              <tr>
                <td>
                  <div class="form-check form-check-muted m-0">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input">
                    </label>
                  </div>
                </td>
                <td>
                  <span class="pl-2"><%= q.user.nome%></span></td>
                <td><%= q.titulo%></td>
                <td><%= q.empresa.nome%></td>
                <td><%= q.assunto.nome%></td>
                <td><%= time_ago_in_words(q.updated_at) %></td>
                <td><%= q.sentimento.nome%></td>
                <td><%if q.situacao_id == 1%>
                    <div class="badge badge-outline-success">
                      Resolvida
                      </div>
                      <%else%>
                <div class="badge badge-outline-danger">
                        Não resolvida
                      </div>
                      <%end%>
                </td>
              </tr>
              <%end%>
            </tbody>
          </table>
          <div class="dig_pagination " style=" display:flex; list-style:none">
            <ul style="margin:auto; display:flex; list-style:none">
              <%=will_paginate @queixas, :container => false, style:"margin-right: 4px;"%>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



<%=link_to 'Consumidor', consumidor_index_path(current_admin)%>
