<h3>Resultado da pesquisa</h3>
<div class="col-lg-8 col-md-8 col-xl-6 ">



                              <div class=" col-xl-12 grid-margin stretch-card">
                                <%@resultado.each do |result|%>
                                <div class="card">
                                <div class="card-body" style="padding-bottom: 0px;">
                      <h4 class="card-title"><%= result.titulo%> | <%= result.assunto.nome %></h4>
              <p class="card-description"><%=link_to result.user.nome, result.user%> está  <label class="mr-2 badge badge-danger" style="margin-left: 7px;"><%=result.sentimento.nome%></label>
              <p style="margin-left: 7px;"><%= result.descricao%> </p>


              <%if result.updated_at<24.hours.ago && result.replica.nil?%>
              <label class="mr-2 card-description">
    <i class="fa fa-thumbs-down" style="margin-left:0px;"></i> Sem resposta |
              <small> <%= time_ago_in_words(result.created_at) %></small>
                    </label>
              <%elsif result.updated_at>24.hours.ago && result.replica.nil?%>
              <label class="mr-2 card-description">
  <i class="fa fa-warning" style="margin-left: 0px;"></i>   Aguardando resposta|
              <small> <%= time_ago_in_words(result.created_at) %></small>
            </label>
            <%else%>
              <blockquote class="blockquote blockquote-primary">
              <p style="margin-left: 20px;"> Replica:  <%= result.replica%></p>
              </blockquote>
            </div>
              <%end%>
                </div>
                <% end %>
                </div>
              </div>
