                <div class="card card-white grid-margin">
                    <div class="card-heading clearfix">
                        <h4 class="card-title">Perfil de Usuario</h4>
                    </div>
                    <div class="card-body user-profile-card mb-3">
                      <%=image_tag current_user.displayed_image, loading: "lazy", alt:current_user.nome, class:'user-profile-image rounded-circle'%>

                      <%= gravatar_for current_user, size: 50, class:'user-profile-image rounded-circle', alt:'' %>
                        <h4 class="text-center h6 mt-2"><%=current_user.nome%></h4>
                        <p class="text-center small">UI/UX Designer</p>
                        <button class="btn btn-theme btn-sm">Ver Perfil</button>
                         <button class="btn btn-theme btn-sm">Message</button>
                    </div>
                    <hr />
                    <div class="card-heading clearfix mt-3">
                        <h4 class="card-title">Perfil do usuario</h4>
                    </div>
                    <div class="card-body mb-3">
                        <a href="#" class="label label-success mb-2">HTML</a>
                        <a href="#" class="label label-success mb-2">CSS</a>
                        <a href="#" class="label label-success mb-2">Sass</a>
                        <a href="#" class="label label-success mb-2">Bootstrap</a>
                        <a href="#" class="label label-success mb-2">Javascript</a>
                        <a href="#" class="label label-success mb-2">Photoshop</a>
                        <a href="#" class="label label-success">UI</a>
                        <a href="#" class="label label-success">UX</a>
                    </div>
                    <hr />
                    <div class="card-heading clearfix mt-3">3
                        <h4 class="card-title">Reputação</h4>
                    </div>
                    <div class="card-body mb-3">
                        <p class="mb-0">Lorem ipsum dolor sitelt amet, consectetur adipis icing elit, sed do eiusmod tempor incididunt utitily labore et dolore magna aliqua metavta.</p>
                    </div>
                    <hr />
                    <div class="card-heading clearfix mt-3">
                        <h4 class="card-title">Informações</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-borderless mb-0 text-muted">
                                <tbody>
                                     <tr>
                                        <th scope="row">Email:</th>
                                        <td><%=current_user.email%></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Telefone</th>
                                        <td><%=current_user.contacto.valor%></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Endereço</th>
                                        <td><%=current_user.endereco.bairro%>, <%=current_user.endereco.rua%></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
