
        <!-- sidebar -->
       <div class="main_sidebar">
           <div class="side-overlay" uk-toggle="target: #wrapper ; cls: collapse-sidebar mobile-visible"></div>

           <!-- sidebar header -->
           <div class="sidebar-header">
               <!-- Logo-->
               <div id="logo">
         <%= link_to "Reclame!AO", root_path, class:"navbar-brand", style:"font-size: xx-large; font-family: ui-sans-serif; font-weight: bold;color: white;"%>
               </div>
               <span class="btn-close" uk-toggle="target: #wrapper; cls: collapse-sidebar mobile-visible"></span>
           </div>

           <!-- sidebar Menu -->
           <div class="sidebar">
               <div class="sidebar_innr" data-simplebar="init">
                 <div class="simplebar-wrapper" style="margin: 0px;">
                   <div class="simplebar-height-auto-observer-wrapper">
                     <div class="simplebar-height-auto-observer">
                     </div>
                   </div><div class="simplebar-mask">
                     <div class="simplebar-offset" style="right: -20px; bottom: 0px;">
                 <div class="simplebar-content" style="padding: 0px calc(20px) 0px 0px; height: 100%; overflow: hidden scroll;">
                   <div class="sections">
                       <ul>
                           <li>
                            <%=link_to ' <i class="flaticon-381-television"></i> <span class="nav-text">Minhas reclamações</span>'.html_safe, consumidor_index_path(current_user.id), :class => side_link?(consumidor_index_path(current_user.id))%>
                            </li>
                           <li>
                           <%=link_to '<i class="flaticon-381-success-2"></i> <span class="nav-text">Respondidas</span>'.html_safe, consumidor_respondidas_path(current_user.id), :class => side_link?(consumidor_respondidas_path(current_user.id))%>
                           </li>
                           <li>
                           <%=link_to '<i class="flaticon-381-close"></i> <span class="nav-text">Não Respondidas</span>'.html_safe, consumidor_nao_respondidas_path(current_user.id), :class => side_link?(consumidor_nao_respondidas_path(current_user.id))%>
                           </li>
                           <li>
                           <%=link_to '<i class="flaticon-381-success"></i>Avaliadas'.html_safe, consumidor_avaliadas_path(current_user.id), :class => side_link?(consumidor_avaliadas_path(current_user.id))%>
                           </li>
                           <%if current_user.perfil_empresarial.nil? && current_user.empresa_id.nil?%>
                           <%elsif current_user.perfil_empresarial.situacao_id==3%>
                           <li><%=link_to '<i class="fa fa-heart" style="color: #f72b50;"></i>Perfil empresarial'.html_safe, fornecedor_index_path(current_user.empresa_id), :class => side_link?(fornecedor_index_path(current_user.id))%></li>
                          <%else%>
                          <li>
                          <%=link_to '<i class="flaticon-381-warning-1"></i><span class="nav-text">Pendente</span>'.html_safe, acompanhar_consumidor_perfil_empresarial_path(current_user.id, current_user.perfil_empresarial.id), :class => side_link?(acompanhar_consumidor_perfil_empresarial_path(current_user.id, current_user.perfil_empresarial.id))%>
                          </li>
                          <%end%>
                          <li>
                          <%=link_to '<i class="flaticon-381-turn-off"></i><span class="nav-text"> Desativada</span>'.html_safe, consumidor_desativadas_path(current_user.id), :class => side_link?(consumidor_desativadas_path(current_user.id))%>
                         </li>
                       </ul>
                   </div>
               </div>
             </div>
           </div>
               <div class="simplebar-placeholder" style="width: 255px; height: 989px;"></div>
             </div>
               <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                 <div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); visibility: hidden;">
                 </div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                   <div class="simplebar-scrollbar" style="height: 365px; transform: translate3d(0px, 0px, 0px); visibility: visible;">
                   </div></div></div>


           </div>

       </div>
