<!DOCTYPE html>
<html>
  <head>
    <title>ReclameAi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
     <%= stylesheet_link_tag 'consumidor/consumidor', media:'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_include_tag 'consumidor/consumidor', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="wrapper">
      <div class="main_content">
<%=render 'layouts/consumidor/sidebar'%>
<%=render 'layouts/consumidor/navbar'%>
<%=render 'layouts/consumidor/header'%>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>

<%= yield %>
       </div>
     </div>
         </body>
  </html>

    <%= debug(params) if Rails.env.development? %>
