        <div class="uk-grid" style="margin-top: 50px;">

            <!-- sidebar -->
            <div class="uk-width-expand">
                <div class="card-suggestion_wrapper  sidebar-absolute " style="">
                    <div class="card-suggestion_wrapper_header">
                        <span class="text-white">Empresas que mais resolveram</span>
                        <p class="text-white">Nos útimos 30 dias</p>
                        <p class="see-all"><a href="" class="text-white">Ver todos</a></p>
                <div class="uk-position-relative uk-slider" uk-slider="finite: true; autoplay:true">
                  <div class="uk-slider-container pb-3">
                  <ul class="uk-slider-items uk-child-width-1-3@m uk-grid-small uk-grid sl_pro_users" style="transform: translate3d(-300.047px, 0px, 0px);">
                <%@empresa.each do |f|%>
                <%if f.indiceS >= 50 %>
              <li tabindex="-1" class="">
                <a class="user" href="#">
                  <%=image_tag f.displayed_image%>
                <span><%=f.nome%></span>
                </a>
              </li>
                <% end %>
                <% end %>
                  </ul>
              <a class="uk-position-center-left uk-hidden-hover slidenav-prev sl_pro_users_prev" href="#" uk-slider-item="previous"></a>
              <a class="uk-position-center-right-out uk-position-small uk-hidden-hover slidenav-next sl_pro_users_next uk-invisible" href="#" uk-slider-item="next"></a>
                </div>
                </div>
                <%@empresa.each do |f|%>
                <%if f.indiceS >= 50 %>
              <div class="sl_sidebar_sugs">
                  <div class="sl_sidebar_sugs_avatar">
                    <%=image_tag f.displayed_image%>
            </div>
            <div class="sl_sidebar_sugs_text">
              <%=link_to f.nome, empresa_path(f), class:"sl_user_link_name text-white"%>
            </div>
            </div>
            <% end %>
            <% end %>
            </div>
          </div>
        </div>


<div class="col-lg-7 stretch-card">
                    <div class="card">
                        <div class="card-header border-0 pb-0 d-sm-flex d-block">
                            <div>
                                <h4 class="card-title mb-1 fs-28 font-w600">Ranking empresarial</h4>
                                <p class="mb-0">Saiba mais sobre as empresas com maior índice de solucões </p>
                            </div>

                        </div>
<%if @feed_items.count == 0%>
<div class="card-body p-0">
    <div class="media review-box">
        <div class="media-body">
            <h4 class="mt-0 mb-0 text-black"> Ainda não há avaliações</h4>
        </div>

    </div>
</div>
<%else%>
  <%=render partial: 'empresa', select: @empresa, as: :empresa%>
<%end%>
</div>
</div>

            <!-- sidebar -->
                <div class="uk-width-expand ">
                    <div class="card-suggestion_wrapper sidebar-absolute" style="">
                        <div class="card-suggestion_wrapper_header">
                            <span class="text-white">Empresas que menos resolveram</span>
                            <p class="text-white">Nos útimos 30 dias</p>
                            <p class="see-all"><a href="" class="text-white">Ver todos</a></p>
                        </div>
                    <div class="uk-position-relative uk-slider" uk-slider="finite: true; autoplay:true">
                      <div class="uk-slider-container pb-3">
                      <ul class="uk-slider-items uk-child-width-1-3@m uk-grid-small uk-grid sl_pro_users" style="transform: translate3d(-300.047px, 0px, 0px);">
                    <%@empresa.each do |f|%>
                    <%if f.indiceS < 50 %>
                  <li tabindex="-1" class="">
                    <a class="user" href="#">
                      <%=image_tag f.displayed_image%>
                    <span><%=f.nome%></span>
                    </a>
                  </li>
                    <% end %>
                    <% end %>

                      </ul>
                  <a class="uk-position-center-left uk-hidden-hover slidenav-prev sl_pro_users_prev" href="#" uk-slider-item="previous"></a>
                  <a class="uk-position-center-right-out uk-position-small uk-hidden-hover slidenav-next sl_pro_users_next uk-invisible" href="#" uk-slider-item="next"></a>
                    </div>
                    </div>
                    <%@empresa.each do |f|%>
                    <%if f.indiceS < 50 %>
                  <div class="sl_sidebar_sugs">
                      <div class="sl_sidebar_sugs_avatar">
                        <%=image_tag f.displayed_image%>
                </div>
                <div class="sl_sidebar_sugs_text">
                <a href="#" class="sl_user_link_name text-white"> <%=f.nome%> </a>
                </div>
                </div>
                <% end %>
                <% end %>

                </div>
              </div>
</div>
