<div class="post" id="<%=dom_id queixa%>">
<div class="post-heading">
<div class="post-title">
  <h4> <%=@queixas.assunto.nome%> </h4>
  </div>
</div>
<div class="post-description">
<p> <%=link_to @queixas.descricao, queixa_path(@queixas)%></p>
<div class="post-state-details">
<%if @queixas.situacao_id == 1%>
    <p class="badge badge-success">Resolvida</p><p class="badge">5 <span> hrs</span></p>
<%elsif @queixas.situacao_id == 2%>
     <p class="badge badge-danger">Não Resolvida</p>
 <%else%>
     <p class="badge badge-danger">Não resolvida</p><p class="badge">5 <span> hrs</span></p>
<%end%>
    </div>
</div>
</div>
<br>









                        <div class="main_content_inner">
                          <div class="section-small">
                          <div class="uk-child-width-1-5@m uk-child-width-1-3@s uk-child-width-1-2 uk-grid-small uk-grid" uk-grid="">
                            <% @ativas.each do |q|%>
                            <div class="uk-first-column">
                                <div class="sl_events_list">
                                    <a href="<%empresa_path(q.id)%>" class="event-cover">
                                      <div class="sl_events_list_media">
                                    <img src="" class="events-list-cover-img">
                                            </div>
                                      </a>
                                                          <div class="sl_events_list_info">
                                                              <p> <%=q.atividade.nome%> </p>
                                                              <h3> <a> <%=link_to q.nome, empresa_path(q.id)%> </a> </h3>
                                                              <span class="event-info-date">
                                                                  <b><%=q.votos.count%></b>
                                                                  <p>Votos</p>
                                                              </span>
                                                              <div class="sl_avatar-groups">
                                                                  <a href="#">
                                                                      <img src="" class="avatars" alt="picture">
                                                                      <img src="" class="avatars" alt="picture">
                                                                      <img src="" class="avatars" alt="picture">
                                                                  </a><a href="#">12 Pessoas interessadas  </a>
                                                              </div>
                                                              <div class="sl_events_list_info_btns">
                                                                  <span>
                                                                      <button type="button" class="btn button primary small block">
                                                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                                              <path fill="currentColor" d="M10.74,11.72C11.21,12.95 11.16,14.23 9.75,14.74C6.85,15.81 6.2,13 6.16,12.86L10.74,11.72M5.71,10.91L10.03,9.84C9.84,8.79 10.13,7.74 10.13,6.5C10.13,4.82 8.8,1.53 6.68,2.06C4.26,2.66 3.91,5.35 4,6.65C4.12,7.95 5.64,10.73 5.71,10.91M17.85,19.85C17.82,20 17.16,22.8 14.26,21.74C12.86,21.22 12.8,19.94 13.27,18.71L17.85,19.85M20,13.65C20.1,12.35 19.76,9.65 17.33,9.05C15.22,8.5 13.89,11.81 13.89,13.5C13.89,14.73 14.17,15.78 14,16.83L18.3,17.9C18.38,17.72 19.89,14.94 20,13.65Z"></path>
                                                                          </svg> <span> Votar </span>
                                                                      </button>
                                                                  </span>
                                                                  <span>
                                                                      <button type="button" class="btn button danger small block">
                                                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                                              <path fill="currentColor" d="M16.5,5C15,5 13.58,5.91 13,7.2V17.74C17.25,13.87 20,11.2 20,8.5C20,6.5 18.5,5 16.5,5M16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3Z">
                                                                              </path>
                                                                          </svg> <span> Reclamar</span>
                                                                      </button>
                                                                  </span>
                                                              </div>

                                                          </div>

                                                      </div>

                                                  </div>
                                                  <%end%>

                                              </div>
                                              <%= will_paginate @ativas%>

                          <div class="uk-position-relative uk-slider" uk-slider="finite: true">

                              <div class="uk-slider-container pb-3">

                                  <ul class="uk-slider-items uk-child-width-1-6@m uk-child-width-1-3@s uk-child-width-1-2 uk-grid-small uk-grid" style="transform: translate3d(0px, 0px, 0px);">
                                    <% @categorias.each do |q|%>
                                    <li tabindex="-1" class="">

                                        <a href="#">
                                            <div class="group-catagroy-card" data-src="assets/images/product/3.jpg" uk-img="">
                                                <div class="group-catagroy-card-content">
                                                    <h4> <%=link_to q.nome, categoria_path(q)%> </h4>
                                                </div>
                                            </div>
                                        </a>

                                    </li>

                                                          <%end%>




                                  </ul>

                                  <a class="uk-position-center-left-out uk-position-small uk-hidden-hover slidenav-prev uk-invisible" href="#" uk-slider-item="previous"></a>
                                  <a class="uk-position-center-right-out uk-position-small uk-hidden-hover slidenav-next" href="#" uk-slider-item="next"></a>

                              </div>
                          </div>

                          <hr class="my-3 my-sm-2">

                          <div class="load-more">
                              <button class="btn button">Load more Products</button>
                          </div>
                        </div>
                      </div>
