
  <div class="row ">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Tabela de usuarios</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                <th> Nome do cliente </th>
                  <th> Email </th>
                  <th> Endereco </th>
                  <th> Data de ingresso </th>
                  <th> Tipo de usuario </th>
                  <th> Estado </th>
                </tr>
              </thead>
              <tbody>
                <%@users.each do |user|%>
                <tr>
                <td>
                  <%=image_tag user.displayed_image, loading: "lazy", alt:user.nome, class:"img-xs rounded-circle", width:"150"%>
                    <span class="pl-2"><%=link_to user.nome, admin_user_path(current_admin, user)%></span>
                  </td>
                  <td> <%= user.email%>  </td>
                  <td> <%= user.endereco.cidade%>, <%= user.endereco.rua%> </td>
                  <td> <%= user.kind%>  </td>
                  <td> <%= user.created_at.strftime("%d %B %Y")%>  </td>
                  <td>
                    <div class="badge badge-outline-success"><%if user.ativo == true%>Ativo<%else%>Inativo<%end%></div>
                  </td>
                </tr>
                <%end%>
              </tbody>
            </table>
            <div class="dig_pagination " style=" display:flex; list-style:none">
              <ul style="margin:auto; display:flex; list-style:none">
                <%=will_paginate @users, :container => false, style:"margin-right: 4px;"%>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
