<div id="warper">
<nav class="navbar  navbar-expand-lg fixed-top flex-nowrap navbar-new-top" style="left:0px; background: #ffffff;">

  <div class="container">
<button data-toggle="collapse" data-target="#navcol-2" class="navbar-toggler">
        <span class="sr-only">Toggle navigation</span>
        <span class="mdi mdi-menu"></span></button>
      <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="nav navbar-nav ml-auto w-100 justify-content-center px-3">
                        <% if logged_in? %>
                    <li role="presentation" class="nav-item">
                     <%=form_tag(search_page_path, :method => "get", class:'nav-link mt-2 mt-md-0 d-none d-lg-flex search') do %>
                     <%=search_field_tag :search, params[:search], placeholder:'Search', class:"form-control"%>
                     <%end%>
                   </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link px-2" <%= link_to "Perfil", current_user %> </a>
                    </li>

                    <li role="presentation" class="nav-item">
                        <a class="nav-link px-2" <%= link_to "Definições", edit_user_path(current_user)%></a>
                    </li>

                    <li role="presentation" class="nav-item">
                        <a class="nav-link px-2 text-danger"<%= link_to "Sair", logout_path, method: "delete" %></a>
                    </li>

                    <li role="presentation" class="nav-item">
                        <button type="button" id="modal-btn" data-toggle="modal" data-target="#signmodal" class="header-btn" margin-top:5px;>Reclamar!</button>
                    </li>
                    <% else %>

                    <li role="presentation" class="nav-item">
                        <a class="nav-link px-2" <%= link_to "Entrar", login_path%></a>
                      </li>
                      <li role="presentation" class="nav-item">
                          <a class="nav-link px-2" <%= link_to "Entrar como administrador", alogin_path%></a>
                        </li>
                        <% end %>
                      </ul>
                    </div>
                    </div>
            </nav>


<!-- Fim do modal -->



            <% if logged_in? %>
            <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="left:0px; background: #ffffff; margin-top:58px;">
                <div class="container">
              <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="mdi mdi-menu"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav ml-auto w-100 justify-content-center px-3">
                            <li role="presentation" class="nav-item">
                              <a class="nav-link" <%= link_to "Cadastrar empresa", new_addempresa_path(current_user)%></a>
                            </li>
                            <li role="presentation" class="nav-item">
                              <a class="nav-link" href="exhibits.html">Exhibits</a>
                            </li>
                            <li role="presentation" class="nav-item">
                              <a class="nav-link" <%= link_to "Reclamar", new_queixa_path(current_user)%></a>
                            </li>
                            <li role="presentation" class="nav-item">
                              <a class="nav-link" href="devices.html">Devices</a>
                            </li>
                            <li role="presentation" class="nav-item">
                              <%  if current_user.empresa_id.nil?%>
                              <a class="nav-link" <%= link_to "Solicitar perfil empresarial", new_perfil_empresarial_path(current_user)%></a>
                                <% elsif current_user.empresa_id>0 %>
                                <a class="nav-link" <%= link_to "Visitar perfil", fornecedor_empresa_path(current_user, current_user.empresa_id)%></a>
                                <% end %>
                            </li>

                        </ul>
                </div>
                </div>
            </nav>


            <% end %>
          </div>
