<div class="main_content_inner">
                  <div class="card">
                    <div class="card-header">
<h4 class="card-title">Informe-nos sobre a empresa que procura!</h4>
                    </div>
                    <div class="card-body">
                      <div class="basic-form">
<%= form_for @add_empresa,:url => {:action => :create}  do |f| %>

<div class="form-row">

<div class="form-group col-md-6">
<%= f.label :Infoemações_da_empresa,class:'uk-form-label', for:'float-textarea'%>
  <%= f.text_area :observacao, placeholder: "text", :required => true, class:'uk-input', style:'background-color: #def0f8;' %>
</div>

<div class="form-group col-md-6">
  <%= f.label :Nome_da_empresa, class:'uk-form-label', for:'float-textarea'%>
    <%= f.text_field :nome, placeholder: "Nome da empresa", :required => true, class:'uk-input', style:'background-color: #def0f8;' %>
  </div>


    <div class="form-group col-md-6">
    <%= f.label :Email_da_empresa, class:'uk-form-label', for:'float-textarea'%>
      <%= f.text_field :email, placeholder: "Email da empresa", :required => true, class:'uk-input', style:'background-color: #def0f8;' %>
    </div>

  <%= f.submit "Fazer o pedido" %>
</div>

  <% end %>
